body {
	margin-bottom: 150px !important;
}
#pie {
	position: fixed !important;
	bottom: 0; width: 100%;
	background: rgba(3,3,3,.7);
	line-height: 25px;
	padding: 3px 0 0 0;
	-moz-filter: blur(10px);
}
#interfaz {
	background: inherit !important;
	padding: 0 !important;
	width: auto;
}
h1 { margin: 0; }
div.fotito {
	position: absolute;
	padding: 0px 0 0 0;
	background: #444;
	box-shadow: 0 1px 5px #222;
}
.fotito a.foto {
	display: block;
	overflow: hidden;
}
.fotito a.foto img { width: 100%; }
.fotito-usuario {
	text-align: left;
	padding: 3px 0 3px 8px;
	margin: 0px 0 0 0;
}
.fotito-usuario a {
	text-decoration: none;
	color: #999;
	display: inline-block;
	line-height: 20px;
	font-size: 12px;
}
.fotito-usuario a:hover {
	color: #090;
}